body {
  background-image: url('./assets/my_notes_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav{
  border: 1px solid #ccc;
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 4rem;
  line-height: 2rem;
}

.btn{
  border: solid;
  margin-top: 1px;
  margin-bottom: 1px;
}

.hashtag {
  color: orange;
}

.form-control {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 4rem;
  width: 100%;
  line-height: 2rem;
}
